/* .error {
    border-color: $error !important;
    color: $error;

    &::placeholder {
        color: $error;
    }
}

label.error {
    color: $error;
    margin-left: 1rem;
    font-size: 1.2vh;
    line-height: 2.4vh;

    @media(max-width: 1024px) {
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
} */

input.invalid {
    border-color: $error !important;
}